.container-fluid(style="min-height: 400px;")
  .row  
    //- Left Subnavigation visable on medium devices or larger
    .col-md-2.hidden-sm.hidden-xs
      .bs-sidebar(hidden-print, role="complementary", data-offset-top="-50", bs-affix)
        ul.nav.bs-sidenav
          li(ng-repeat="availableDoc in availableDocs track by $index", data-target="{{'#'+availableDoc}}", bs-scrollspy, data-offset="70")
            a(ng-click="goTo(availableDoc)") {{availableDoc}}
            ul.nav
              li(ng-repeat="doc in  docs[availableDoc] track by $index", data-target="{{'#'+availableDoc+'_'+doc.name}}", bs-scrollspy, data-offset="70")
                a(ng-click="goTo(availableDoc+'_'+doc.name)") {{doc.name}}
    .col-md-10
      h1.page-header Overview
      div(ng-repeat="availableDoc in availableDocs track by $index")
        h2.page-header(id="{{availableDoc}}") {{availableDoc}}
        div(ng-repeat="doc in docs[availableDoc] track by $index")
          h3(id="{{availableDoc+'_'+doc.name}}") {{doc.name}}
          div(ng-repeat="docDesc in doc.dox")
            h4 {{docDesc.ctx.name}}
            p(ng-if="docDesc.description.full", ng-bind-html="docDesc.description.full")
            div(ng-if="docDesc.code", hljs, language="javascript", source="docDesc.code")