.container-fluid(style="min-height: 400px;")
  .row  
    //- Left Subnavigation visable on medium devices or larger
    .col-md-2.hidden-sm.hidden-xs
      .bs-sidebar(hidden-print, role="complementary", data-offset-top="-50", bs-affix)
        ul.nav.bs-sidenav
          li(ng-repeat="availableDoc in availableDocs", data-target="{{'#'+availableDoc}}", bs-scrollspy, data-offset="70")
            a(ng-click="goTo(availableDoc)") {{availableDoc}}
            ul.nav
              li(ng-repeat="doc in  docs[availableDoc]", data-target="{{'#'+doc.name}}", bs-scrollspy, data-offset="70")
                a(ng-click="goTo(doc.name)") {{doc.name}}
    .col-md-10
      h1.page-header Overview
      div(ng-repeat="availableDoc in availableDocs")
        h2.page-header(id="{{availableDoc}}") {{availableDoc}}
        div(ng-repeat="doc in docs[availableDoc]")
          h3(id="{{doc.name}}") {{doc.name}}
          div(ng-repeat="docs in doc.dox")
            h4 {{docs.ctx.name}}
            p(ng-if="ddocs.description.full", ng-bind-html="docs.description.full")
            div(ng-if="docs.code", hljs,  language="javascript", source="docs.code")